<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Library|Edit Page</title>
  </head>
  <body>
    <p>Book Name: {{book.title}}</p>
    <p>Current Rating: {{book.rating}}</p>

    <form action="{{url_for('edit', book_id=book.id)}}" method="post">
      <input type="text" name="rating" />
      <input type="submit" />
    </form>
  </body>
</html>
