{% extends "bootstrap/base.html" %} {% block content %}
{% import "bootstrap/wtf.html" as wtf %}
<div class="container">
  <h1>Login</h1>
  <!-- <form action="{{url_for('login')}}" method="post" novalidate>
    {{form.csrf_token}} {{form.email.label}} <br />
    {{form.email(size=30)}} <br />
    {% for error in form.email.errors %}
    <span style="color: red">{{error}}</span> <br />
    {% endfor %} {{form.password.label}} <br />
    {{form.password(size=30)}} <br />
    {% for error in form.password.errors %}
    <span style="color: red">{{error}}</span> <br />
    {% endfor %}
    <br />
    {{form.submit()}}
  </form> -->
  {{wtf.quick_form(form, novalidate=True)}}
</div>
{% endblock %}
